/*Piemērs no:
https://www.codewithrandom.com/2022/09/09/glassmorphism-login-form-html-css-glassmorphism-form/*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Trebuchet MS", sans-serif;
}

html {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    background: #bebfab;
}
body {
  overflow: hidden;
  height: 100vh;
}

section {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom, #3f0675, #bebfab);
}

section .colour {
  position: absolute;
  filter: blur(150px);
}

.container {
  width: 100%;
  min-width: 360px;
  display: flex;
  flex-direction: column;
  min-height: 400px;
  max-height: 85vh;
  position: relative;
  padding: 30px 0 30px 0;
  border-radius: 10px;
  backdrop-filter: blur(5px);
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.container.large {
    min-height: 650px;
}
.apaksejais-bloks {
    display: block;
}

section .colour:nth-child(1) {
  top: -350px;
  width: 600px;
  height: 600px;
  background: #c1bdc2;
}

section .colour:nth-child(2) {
  left: 100px;
  width: 500px;
  height: 500px;
  bottom: -150px;
  background: #5b45b0;
}

section .colour:nth-child(3) {
  right: 100px;
  bottom: 50px;
  width: 300px;
  height: 300px;
  background: #2d0cb3;
}

.box {
  position: relative;
  animation: sliding 0.6s ease-out forwards;
}

.box .square {
  position: absolute;
  border-radius: 10px;
  backdrop-filter: blur(5px);
  background: rgba(255, 255, 255, 0.1);
  animation: swinging 7s ease-in-out infinite;
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}


@keyframes swinging {
  0%,
  100% {
    transform: translateY(-50px);
  }

  40% {
    transform: translateY(50px);
  }
}

.box .square:nth-child(1) {
  top: -50px;
  left: -60px;
  width: 100px;
  height: 100px;
}

.box .square:nth-child(2) {
  z-index: 2;
  top: 150px;
  left: -100px;
  width: 120px;
  height: 120px;
}

.box .square:nth-child(3) {
  z-index: 2;
  width: 80px;
  height: 80px;
  right: -50px;
  bottom: -60px;
}

.box .square:nth-child(4) {
  left: 100px;
  width: 50px;
  height: 50px;
  bottom: -80px;
}

.box .square:nth-child(5) {
  top: -80px;
  left: 140px;
  width: 60px;
  height: 60px;
}

.form {
  width: 100%;
  height: 100%;
  padding: 40px;
  position: relative;
}

.form h2 {
  color: #fff;
  font-size: 24px;
  font-weight: 600;
  position: relative;
  margin-bottom: 40px;
}

.form h2::before {
  left: 0;
  width: 80px;
  height: 4px;
  content: "";
  bottom: -10px;
  background: #fff;
  position: absolute;
}

.form .input__box {
  width: 100%;
  margin-top: 20px;
}

.form .input__box input {
  width: 100%;
  color: #fff;
  border: none;
  outline: none;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 35px;
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.5);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.form::placeholder {
  color: #fff;
}

.form .input__box input[type="submit"] {
  color: #666;
  cursor: pointer;
  background: #fff;
  max-width: 150px;
  font-weight: 600;
  margin-bottom: 20px;
}

.forget {
  color: #fff;
  margin-top: 5px;
}

.forget a {
  color: #fff;
  font-weight: 600;
  text-decoration: none;
}

/* Darbu saraksts  */
.darbu-saraksts {
  flex: 1;
  overflow-y: auto;
}
.darbu-saraksta-bloks {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
}
.darbu-saraksta-bloks h2 {
  color: #fff;
  font-weight: normal;
  font-size: 16px;
  padding: 0 30px;
  margin-bottom: 30px;
}
.darbu-saraksta-bloks h2 strong {
  display: block;
  font-size: 25px;
}
.darbu-saraksta-bloks ul {
  height: 0px;
}
.darbu-saraksta-bloks ul:empty {
  height: auto;
  padding-top: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.darbu-saraksta-bloks ul:empty::after {
  content: "Pagaidām šim lietotājam nav pievienots neviens uzdevums. Ieklikšķiniet zemāk esošajā ievades laukā, lai pievienotu jaunu uzdevumu.";
  display: inline-block;
  color: #fff;
  text-align: center;
  max-width: 400px;
  opacity: 0;
  animation: sliding 0.6s ease-out forwards;
}

@keyframes sliding {
    0% {
      opacity: 0;
      transform: translateY(100px);
    }
  
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

.darbu-saraksta-bloks ul li {
  list-style: none;
  padding: 0 30px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  transition: all 0.2s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: uzdevums 0.7s ease forwards;
}
@keyframes uzdevums {
    0% {
      opacity: 0;
      max-height: 0;
      padding: 0 0 0 30px;
    }
  
    100% {
      opacity: 1;
      max-height: 50px;
      padding: 5px 0 5px 30px;
    }
  }
.darbu-saraksta-bloks ul li:hover {
  background: rgba(255, 255, 255, 0.15);
}
.darbu-saraksta-bloks ul li input[type="checkbox"] {
  width: 16px;
  height: 16px;
  cursor: pointer;
}
.darbu-saraksta-bloks ul li input[type="text"] {
  background: none;
  border: none;
  outline: none;
  color: #fff;
  padding-left: 15px;
  flex: 1;
}
.darbu-saraksta-bloks ul li input[type="text"].completed {
  text-decoration: line-through;
  opacity: 0.4;
}
.darbu-saraksta-bloks ul li .fa-trash {
  margin-left: 10px;
  margin-right: 10px;
  color: rgb(255, 255, 255, 0.2);
  cursor: pointer;
  transition: color 0.2s ease;
  padding: 10px 20px 10px 10px;
}
.darbu-saraksta-bloks ul li:hover .fa-trash {
  color: rgb(255, 255, 255, 1);
}
.darbu-saraksta-bloks ul li .fa-trash:hover {
  color: rgb(255, 100, 100, 1);
}
.darba-pievienosanas-forma {
  margin: 30px 30px 0px 30px;
  position: relative;
}
.darba-pievienosanas-forma input[type="text"] {
  width: 100%;
  padding: 10px;
  outline: none;
  border: none;
  border-radius: 6px;
}
.darba-pievienosanas-forma button {
  position: absolute;
  right: 3px;
  top: 3px;
  border-radius: 3px;
  border: none;
  outline: none;
  width: 30px;
  height: 30px;
  font-size: 17px;
  font-size: 22px;
  line-height: 1px;
  font-weight: bold;
  background: #6505be;
  transition: all 0.2s ease;
  color: #fff;
  cursor: pointer;
  z-index: 2;
}
.darba-pievienosanas-forma button:hover {
  background: #8e26f0;
}

/*Share un GoBack pogas stils un izvietojums*/
.grid-parent {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 337px;
  width: 100%;
}
.box {
  position: relative;
}

.button {
  padding: 10px 20px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.8);
  color: rgb(96, 59, 128);
  transition: all 0.2s ease;
  border: none;
  cursor: pointer;
  width: 100%;
}
.button:hover {
  background: rgba(255, 255, 255, 1);
}
.button:active {
  background: rgb(96, 59, 128);
  color: #fff;
}
.grid-child.links a {
  color: #fff;
  padding: 5px;
  font-size: 20px;
}


/* "Drīzumā gaidāms" sadaļas dizains */
.drizuma-gaidams-bloks {
    padding: 30px 50px;
    text-align: center;
    color: #fff;
    flex: 1;
}
#pulkstenis {
    font-size: 40px;
    animation: sekundes 2s ease infinite;
}

@keyframes sekundes {
    0% {
      opacity: 1;
      transform: scale(1.1);
    }  
    50% {
      opacity: 0.4;
      transform: scale(1);
    } 
    100% {
        opacity: 1;
        transform: scale(1.1);
    }
  }
  


  /*SLIDER daļas piemērs no:
  https://www.w3schools.com/howto/howto_js_quotes_slideshow.asp*/

  /* Slideshow container */

.citatu-bloks {
  margin-top: 5%;
  width: 100%;
  flex: 0 0 120px;  
  position: relative;
}

/* Slides */
.citati {
  display: none;
  text-align: center;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: auto;
  padding: 20px;
  color: rgb(206, 203, 203);
  font-weight: bold;
  font-size: 22px;
  border-radius: 0 10px 10px 0;
  user-select: none;
  transition: all 0.4s ease;
}

/* Position the "next button" to the right */
.next {
  position: absolute;
  right: 0;
  border-radius: 10px 0 0 10px;
}
q {
    color: #fff;
    display: block;
    margin: 0 auto;
    width: 360px;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(109, 55, 149, 0.8);
  color: white;
}

/* The dot/bullet/indicator container */
.dot-container {
  text-align: center;
  padding: 10px;
  left: 50%;
  margin-top: 30px;
  transform: translateX(-50%);
  position: absolute;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 3px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  display: inline-block;
  transition: all 0.6s ease;
  transform: scale(0.7);
}

/* Add a background color to the active dot/circle */
.active, .dot:hover {
    background-color: rgba(255, 255, 255, 1);
    transform: scale(1);
}

/* Add an italic font style to all quotes */
q {font-style: italic;}

/* Add a blue color to the author */
.author {
  color: rgb(100, 29, 128);
  font-style: italic;
}
