/*Piemērs no:
https://www.codewithrandom.com/2022/09/28/todo-list-using-javascript-2/*/

/*Otrai lapai*/
* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

body {
    overflow: hidden;
}

*:focus{outline:none !important;}


section {
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, #8e8ef5, #bebfab);
}

section .colour {
    position: absolute;
    filter: blur(150px);
}

.container {
    width: 100%;
    display: flex;
    min-height: 600px;
    position: relative;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(5px);
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

body {
    overflow: hidden;
}

section {
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, #3f0675, #bebfab);
}

section .colour:nth-child(1) {
    top: -350px;
    width: 600px;
    height: 600px;
    background: #c1bdc2;
}

section .colour:nth-child(2) {
    left: 100px;
    width: 500px;
    height: 500px;
    bottom: -150px;
    background: #5b45b0;
}

section .colour:nth-child(3) {
    right: 100px;
    bottom: 50px;
    width: 300px;
    height: 300px;
    background: #2d0cb3;
}

/* TO DO LIST
================================================== */
.tdl-holder{
    margin: 0px auto;
    width: 300px;
}

.tdl-holder h2{
    background-color: #592b80;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: inset 0 0 8px 0 rgb(44, 48, 66);
    color:#fff;
    font-family:"Roboto Condensed", Arial, sans-serif;
    font-size: 18px;
    font-weight: 100;
    line-height: 56px;
    padding-left: 20px;
    margin:0;
}

.tdl-holder ul, .tdl-holder li {
    list-style: none;
    margin:0;
    padding:0;
}

.tdl-holder li{
    background-color: #603b80;
    border-bottom:1px solid #6470a0;
    border-top:1px solid #6470a0;
    color: #b1b2c9;
}

.tdl-holder li span{
    margin-left:30px;
    -webkit-transition: all .2s linear;
       -moz-transition: all .2s linear;
         -o-transition: all .2s linear;
            transition: all .2s linear;    
}

.tdl-holder label{
    cursor:pointer;
    display:block;
    line-height: 60px;
    padding: 0 15px; 
    position: relative;
}

.tdl-holder label:hover{
    background-color: #501b5e;
    color:#e7e7ef;
}

.tdl-holder label a{
    background-color:#de3f53;
    border-radius:50%;
    color:#fff;
    display:none;
    float:right;
    font-weight: bold;
    line-height: normal;
    height:16px;
    margin-top: 20px;
    text-align: center;
    text-decoration: none;
    width:16px;
    -webkit-transition: all .2s linear;
       -moz-transition: all .2s linear;
         -o-transition: all .2s linear;
            transition: all .2s linear;    
}

.tdl-holder label:hover a{
    display: block;
}

.tdl-holder label a:hover{    
    background-color:#fff;
    color:#de3f53;
}

.tdl-holder input[type="checkbox"]{
    cursor: pointer;
    opacity: 0;
    position: absolute;
}

.tdl-holder input[type="checkbox"] + i{
    background-color: #bdc3d7;
    border-radius: 50%;
    display: block;
    height: 16px;
    position: absolute;
    top:20px;
    width: 16px;    
    z-index: 1;
}

.tdl-holder input[type="checkbox"]:checked + i::after{
    background-color: #3f0e6f;
    border-radius: 50%;
    content: '';
    display: block;
    height:8px;
    left:4px;
    position: absolute;
    top:4px;
    width:8px;    
    z-index: 2;
}

.tdl-holder input[type="checkbox"]:checked ~ span{    
    color: #7c8ac5;
    text-decoration: line-through;
}

.tdl-holder input[type="text"]{
    background-color: #592b80;
    border: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: inset 0 0 8px 0 rgb(44, 48, 66);
    color: #1c0c13;
    font-size: 12px;
    margin: 0;
    padding: 20px 15px;
    width: 270px;
    -webkit-transition: all .2s linear;
       -moz-transition: all .2s linear;
         -o-transition: all .2s linear;
            transition: all .2s linear;        
}

.tdl-holder input[type="text"]:hover{
    color:#4c577f;
}

.tdl-holder input[type="text"]:focus{
    color:rgb(233, 233, 241)
}

.tdl-holder ::-webkit-input-placeholder {color: #9a9a9e;} /* WebKit browsers */
.tdl-holder :-moz-placeholder             {color: #9a9a9e;} /* Mozilla Firefox 4 to 18 */
.tdl-holder ::-moz-placeholder             {color: #9a9a9e;} /* Mozilla Firefox 19+ */
.tdl-holder :-ms-input-placeholder         {color: #9a9a9e;} /* Internet Explorer 10+ */



.tdl-holder li.remove{
    -webkit-animation:collapseItem 300ms ease;
            animation:collapseItem 300ms ease;
    -webkit-transform-origin: 50% 0%;
        -ms-transform-origin: 50% 0%;
            transform-origin: 50% 0%;

}

.tdl-holder li.remove span{
    color: #586186;
    text-decoration: line-through;
}

@keyframes collapseItem {
    0%         { -ms-transform: perspective(500px) rotateX(0deg);transform: perspective(500px) rotateX(0deg);     }
    100%     { -ms-transform: perspective(500px) rotateX(-90deg);transform: perspective(500px) rotateX(-90deg); }
}

@-webkit-keyframes collapseItem {
    0%         { -webkit-transform: perspective(500px) rotateX(0deg);     }
    100%     { -webkit-transform: perspective(500px) rotateX(-90deg);}
}



/*Share un GoBack pogas stils un izvietojums*/
.grid-parent {
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-gap: 337px; 
    width: 100%; 
  }
  .box {
    position: relative;
  }

  .button {
    padding: 15px 20px;
    border-radius: 8px;
    background: rgba(255,255,255,0.8);
    color: rgb(96, 59, 128);
    transition: all 0.2s ease;
    border: none;
    cursor: pointer;
  }
  .button:hover {
    background: rgba(255,255,255,1);
  }
  .button:active {
    background: rgb(96, 59, 128);
    color: #fff;
  }

